// Mixins in here

.flex(@justify: center, @align: center) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}


.buttons(@bgColor: @button-bg, @fontColor: @sandy-beach, @size: 2rem) {
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    background-color: @bgColor;
    color: @fontColor;
    font-size: @size;
}