// Mixins in here

.flex(@justify: center, @align: center, @wrap: none, @direction: none) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-wrap: @wrap;
    flex-direction: @direction;
}


.buttons(@bgColor: @button-bg, @fontColor: @sandy-beach, @size: 2rem) {
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    background-color: @bgColor;
    color: @fontColor;
    font-size: @size;
}

.animation(@bgColor: none, @transition: 1s, @timing: none, @padding: none, @textSize: 3rem) {
    border-radius: 10px;
    background-color: @bgColor;
    transition: @transition;
    transition-timing-function: @timing;
    padding: @padding;
    font-size: @textSize;
    animation-name: animation;
    @keyframes animation {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:red; left:0px; top:0px;}
      }
}
