// Navigation Styles here

* {
  border: 1px solid black !important;
}

header {
    text-align: center;
  .navBar {
    .flex();
    width: 100%;
    padding: 1%;
    border-bottom: 2px dashed gray !important;
    nav {
      .flex(space-around);
      width: 75%;
      a {
        font-size: 2rem;
      } //closes a
    } //closes nav
    h1 {
      width: 25%;
      text-align: center;
    } // closes h1
  } //closes .navBAr
  img {
      width: 85%;
  }
} //closes header
