// Navigation Styles here

* {
  // border: 1px solid black !important;
}

header {
  .navBar {
    .flex();
    width: 100%;
    padding: 1% 30%;
    border-bottom: 2px dashed gray !important;

    nav {
      .flex(flex-end, @wrap: none);
      width: 75%;

      a {
        display: inline;
        font-size: 2rem;
        padding: 2%;
        margin: 0 1%;
        text-decoration: none;
        text-align: center;
      } //closes a
    } //closes nav

    h1 {
      width: 25%;
      text-align: center;
    } // closes h1
  } //closes .navBAr

  
} //closes header
